# Importing Libraries

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlt

loading the Data

In [21]:
data = pd.read_csv(r"C:\Users\Hp\Downloads\data_for_lr.csv")

In [22]:
data.head(10)

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984
5  36.0  32.463875
6  12.0  10.780897
7  81.0  80.763399
8  25.0  24.612151
9   5.0   6.963319

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       700 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 11.1 KB

In [24]:
data.isnull().sum()

x    0
y    1
dtype: int64

In [25]:
data.isnull()

         x      y
0    False  False
1    False  False
2    False  False
3    False  False
4    False  False
..     ...    ...
695  False  False
696  False  False
697  False  False
698  False  False
699  False  False

[700 rows x 2 columns]

Data processing

In [26]:
data = data.dropna()
print('Shape of the data: ', data.shape)

Shape of the data:  (699, 2)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 0 to 699
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       699 non-null    float64
 1   y       699 non-null    float64
dtypes: float64(2)
memory usage: 16.4 KB

spliting the data

In [32]:
#training the input and output
train_input = np.array(data.x[0:500]).reshape(500, 1)
train_output = np.array(data.y[0:500]).reshape(500, 1)

#Validation the input and output

test_input = np.array(data.x[500:700]).reshape(199, 1)
test_output = np.array(data.y[500:700]).reshape(199, 1)

In [34]:
print(f"training input data shape: {train_input.shape}")
print(f"training output data shape: {train_output.shape}")
print(f"testing input data shape: {test_input.shape}")
print(f"testing output data shape: {test_output.shape}")

training input data shape: (500, 1)
training output data shape: (500, 1)
testing input data shape: (199, 1)
testing output data shape: (199, 1)

<font color = "green"> Linear Regression</font>

Forward propogation

f(x) = m*x + c

In [40]:
def forward_propagation(train_input, parameters):
    m = parameters["m"]
    c = parameters["c"]

    predictions = np.multiply(m, train_input) + c

    return predictions

Cost Function

summation (1/2n * (y-f(x))^2)

In [ ]:
def cost_function(predictions, train_output):
    cost = np.mean((train_output - predictions) ** 2) *0.5
    return cost

Gradient decent for backpropagation

df = (f(x) - y)/n
dm = df * x
dc = df * 1

In [41]:
def backward_propagation(train_input, train_output, predictions):
    derivatives = dict()

    df = predictions - train_input
    dm = np.mean(np.multiply(df, train_input))
    dc = np.mean(df)

    return derivatives

Updating Parameters

m = m - (learning_rate*dm)
c = c - (learning_rate*dc)

In [42]:
def update_parameters(parameters, derivatives, learning_rate):
    parameters['m'] = parameters['m'] - learning_rate * derivative['dm']
    parameters['c'] = parameters['c'] - learning_rate * derivative['dc']

    return parameters